# App
NEXT_PUBLIC_APP_URL=https://pixelliftai.online

# Picsart API
PICSART_API_KEY=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Keystatic public configuration
NEXT_PUBLIC_KEYSTATIC_STORAGE_KIND=github
NEXT_PUBLIC_KEYSTATIC_GITHUB_REPO_OWNER=Faseeh65
NEXT_PUBLIC_KEYSTATIC_GITHUB_REPO_NAME=PixelLift-AI
NEXT_PUBLIC_KEYSTATIC_GITHUB_BRANCH=main

# Keystatic private GitHub OAuth configuration
KEYSTATIC_GITHUB_CLIENT_ID=
KEYSTATIC_GITHUB_CLIENT_SECRET=
KEYSTATIC_SECRET=
