NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=
PICSART_API_KEY=
NEXT_PUBLIC_KEYSTATIC_STORAGE_KIND=local
NEXT_PUBLIC_KEYSTATIC_GITHUB_REPO_OWNER=Faseeh65
NEXT_PUBLIC_KEYSTATIC_GITHUB_REPO_NAME=PixelLift-AI
NEXT_PUBLIC_KEYSTATIC_GITHUB_BRANCH=main
KEYSTATIC_GITHUB_CLIENT_ID=
KEYSTATIC_GITHUB_CLIENT_SECRET=
KEYSTATIC_SECRET=
